@import url('https://fonts.googleapis.com/css?family=Fira+Mono');

html {
  background-color: #333;
  font-family: 'Fira Mono', monospace;
  font-weight: 400;
  color: #eee;
  line-height: 1.5em;
  font-size: 14px;
}

pre {
  margin: 0;
}

span.tab {
  padding-left: 2em;
}

a,
a:visited {
  color: #eee;
}

span.medium {
  font-weight: bold;
}

span.arrow {
  color: #aaa;
  padding-right: 0.5em;
}

.last::after {
  content: "";
  display: inline-block;
  margin-left: 0.25em;
  background-color: #eee;
  vertical-align: top;
  width: 0.75em;
  height: 1.5em;
  -webkit-animation: blink 1s step-end infinite;
  animation: blink 1s step-end infinite;
}

@-webkit-keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
